html {
	height: 100%;
}

body {
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000000;
	height: 100%;
	margin:0px;
	padding:0px;
}

img{
	margin: 0px;
	padding: 0px;
}

div.centerG {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

div.centerV {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 50%;
	width: 0%;
}

div.content {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

p{
   color: #ffd900;
}

p white{
   color: #fff;
}

h1{
   color: #fff;
}

b{
	color: #aaf;
}

div.title {
	margin: 0px;
	padding: 0px;
	width: 422px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

div.caption {
	margin: 0px;
	padding: 0px;
	width: 135px;
	display: inline-block;
	text-align: center;	
}

p.caption {
	margin: 0px;
	padding: 0px;
	text-align: center;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}