body {
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000000;
	margin:0px;
	padding:0px;
}

img{
	margin: 0px;
	padding: 0px;
}

div.page {
	position: absolute;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 800px;
	min-height: 139px;
	max-width: 800px;
}

div.head {
	background: url(../../SITE/IMG/0.png) no-repeat;
	background-position: bottom;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	width: 800px;
	min-height: 139px;
}

div.content {
	background: url(../../SITE/IMG/1.png) no-repeat;
	background-position: top;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	width: 800px;
	min-height: 139px;
}

p{
   color: #ffd900;
}

p white{
   color: #fff;
}

h1{
   color: #fff;
}

b{
	color: #aaf;
}

hr{
	width: 550px;
}

div.title {
	margin: 0px;
	padding: 0px;
	width: 400px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

div.caption {
	margin: 0px;
	padding: 0px;
	width: 135px;
	display: inline-block;
	text-align: center;	
}

p.caption {
	margin: 0px;
	padding: 0px;
	text-align: center;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#link-img {
	display: block;
	width: 800px;
	height: 278px;
	background:url(../../SITE/IMG/SHARE.png) no-repeat;
}